* {
  margin: 0;
  padding: 0;
}

/* .w3r-dot { */
/* position: absolute; */
/* width: 100vw;
  height: 100vh;
  background-color: rgb(235, 235, 235);
  background-image: radial-gradient(rgb(217, 217, 217) 25%, transparent 11%),
    radial-gradient(rgb(219, 219, 219) 25%, transparent 11%);

  background-size: 20px 20px;
  background-position: 0 0, 0px 0px;
  background-repeat: repeat;
} */

.circular-bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

.create-poll-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.98);
  height: 450px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 2%;
}

.navflex {
  display: flex;
  justify-content: space-between;
}

.create-active-container {
  display: flex;
  position: relative;
  margin: 25px 200px 0 200px;
}

.tableitemspacing {
  padding: 20px 0 20px 0;
  margin: 10px 0 10px 0;
}

.container {
  margin-top: 20px;
  width: 60%;
  align-self: center;
  position: relative;
}

.poll-input {
  width: 100%;
  background-color: rgb(86, 86, 86);
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.11);
  padding: 10px;
  margin-bottom: 15px;
}

.create-poll-btn {
  width: 25%;
  align-self: center;
  margin-top: 5px;
  background-color: #6a4597;
  border: 3px solid black;
}

.active-poll-btn {
  background-color: #6a4597;
  border: 3px solid black;
}

.active-poll-btn:hover {
  background-color: #482f67;
  border: 3px solid black;
}

.create-poll-btn:hover {
  background-color: #482f67;
  border: 3px solid black;
}

.logo-img {
  width: 100px;
  height: 100px;
  margin-left: 40px;
}

.nav-account {
  color: black;
  padding: 10px;
  background-color: #6a4597;
  border-radius: 20%;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  font-weight: bold;
  margin-right: 20px;
}

.nav-account:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}

.poll-tab {
  color: #6a4597;
  font-weight: bold;
  font-size: 20px;
}

.nav-link {
  color: #9562d2;
}

.nav-link:hover {
  color: #734ba4;
}

@media (max-width: 1080px) {
  .logo-img {
    margin-left: 5px;
  }

  .nav-account {
    margin-right: 5px;
  }
}
