* {
  margin: 0;
  padding: 0;
}

/* .w3r-dot { */
/* position: absolute; */
/* width: 100vw;
  height: 100vh;
  background-color: rgb(235, 235, 235);
  background-image: radial-gradient(rgb(217, 217, 217) 25%, transparent 11%),
    radial-gradient(rgb(219, 219, 219) 25%, transparent 11%);

  background-size: 20px 20px;
  background-position: 0 0, 0px 0px;
  background-repeat: repeat;
} */

body {
  background-image: url("../img/blackbgfinall.png");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.create-poll-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 32, 32, 0.98);
  height: 450px;
  width: 300px;
  margin-right: 60px;
  border: 3px solid rgba(0, 0, 0, 0.24);
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.all-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active-polls-container {
  border: 3px solid rgba(0, 0, 0, 0.24);
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 450px;
  width: 500px;
  border-collapse: separate !important;
}

.table-body-container {
}

.results-container {
  border: 3px solid rgba(0, 0, 0, 0.24);
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color: rgba(32, 32, 32, 0.98); */
  height: 450px;
  width: 1060px;
  border-collapse: separate !important;
  margin-top: 60px;
  color: rgb(194, 194, 194);
  font-size: 13px;
}

.table-arrow-container {
  border-radius: 12px;
}

.results-sections {
  /* border: 1px solid rgb(47, 47, 47); */
  background-color: rgba(32, 32, 32, 0.88);
  color: rgb(194, 194, 194);
  font-weight: normal;
  font-size: 13px;
  font-weight: bold;
  padding-left: 10px;
  width: 100px;
}

.results-titles {
  padding-left: 10px;
  font-size: 15px;
  color: rgb(194, 194, 194);
  background-color: rgba(32, 32, 32, 1);
  width: 300px;
  height: 50px;
}

.real-time-polls {
  color: rgb(194, 194, 194);
  margin-left: 20px;
}

.real-time-polls-sections {
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(32, 32, 32, 0.88);
  padding-left: 10px;
  height: 25%;
  width: 100px;
}

.real-time-polls-sections-countdown {
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(32, 32, 32, 0.88);
  padding-left: 10px;
  padding-right: 40px;
  height: 25%;
  width: 150px;
}

.real-time-polls-sections-last {
  font-size: 13px;
  font-weight: bold;
  /* border: 1px solid rgb(47, 47, 47); */
  padding-left: 10px;
  height: 25%;
  padding-right: 10px;
  background-color: rgba(32, 32, 32, 0.88);
}

.active-polls-titles {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  background-color: rgba(32, 32, 32, 0.48);
}

.active-poll-title {
  color: rgb(95, 95, 95);
  font-size: 20px;
  font-weight: bold;
  border-radius: 22px;
  background-color: rgba(32, 32, 32, 0.78);
  width: 100%;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.active-polls-sections {
  color: rgb(194, 194, 194);
  font-size: 15px;
  background-color: rgba(32, 32, 32, 0.78);
  width: 100px;
  height: 50px;
  padding-left: 10px;
}

.active-polls-sections-last {
  color: rgb(194, 194, 194);
  background-color: rgba(32, 32, 32, 0.78);
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.navflex {
  display: flex;
  justify-content: space-between;
}

.create-active-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.tableitemspacing {
  padding: 20px 0 20px 0;
  margin: 10px 0 10px 0;
}

.container {
  margin-top: 20px;
  width: 60%;
  align-self: center;
  position: relative;
}

.create-poll-title {
  /* color: rgb(60, 60, 60); */
  color: rgb(95, 95, 95);
  font-size: 20px;
  font-weight: bold;
  margin-top: -55px;
  margin-bottom: 35px;
  margin-right: 150px;
}

.create-poll-title-desc {
  color: rgb(60, 60, 60);
  font-size: 12px;
  margin-right: 150px;
  margin-top: -30px;
  width: 100%;
  margin-left: 230px;
}

.poll-input {
  width: 80%;
  /* background-color: rgb(86, 86, 86); */
  background-color: rgb(50, 50, 50);
  border: 1px solid rgb(70, 70, 70);
  box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.11);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.create-poll-btn {
  width: 80%;
  align-self: center;
  margin-top: 5px;
  background-color: #6a4597;
  border-radius: 12px;
  /* border: 3px solid black; */
  border: 3px solid #261936;
}

.active-poll-btn {
  background-color: #6a4597;
  /* border: 3px solid black; */
  border: 3px solid #261936;
  font-size: 12px;
  border-radius: 12px;
}

.active-poll-btn:hover {
  background-color: #482f67;
  border: 3px solid #261936;
}

.active-poll-canidate {
  margin-top: 50px;
}

.create-poll-btn:hover {
  background-color: #482f67;
  border: 3px solid #261936;
}

.logo-img {
  width: 150px;
  height: 100px;
  margin-left: 40px;
}

.nav-account {
  color: black;
  padding: 5px 15px 5px 38px;
  background-color: #6a4597;
  border-radius: 20px;
  /* border: 2px rgba(0, 0, 0, 0.3) solid; */
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.nav-account:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}

.poll-tab {
  color: #6a4597;
  font-weight: bold;
  font-size: 20px;
}

.nav-link {
  color: #9562d2;
}

.nav-link:hover {
  color: #734ba4;
}

.tooltip-text {
  color: blue;
}

.bar {
  padding: 1px 150px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.arrow {
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.3;
}

.question-img:hover {
  cursor: pointer;
  opacity: 0.3;
}

@media (max-width: 1080px) {
  .logo-img {
    margin-left: 5px;
  }

  .nav-account {
    margin-right: 5px;
  }
}
